.vscode
.idea
.gradle
derby.log
jql-spring-lib/.gradle
jql-spring-lib/build
jql-spring-lib/bin
jql-spring-lib/out
sample-app/bin
sample-app/build
sample-app/target
sample-app/.gradle
sample-app/src/main/resources/static
sample-app/out
db/data
